html,
body,
#app,
#app > div {
  height: 100%;
}

/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  grid-template-areas:
    'Login Login Login'
    'Show-Select Show-Select Show-Select'
    'Songlist-Comparison Songlist-Comparison Songlist-Comparison';
}

.Login {
  height: 100px;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'Login-Button Playlist-Creator';
  grid-area: Login;
  background-color: lightpink;
}
.Login-Button {
  grid-area: Login-Button;
}
.Playlist-Creator {
  background-color: blueviolet;
  grid-area: Playlist-Creator;
} */

/* .Show-Select {
  display: grid;
  height: 100px;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: Show-Select;
  background-color: lightslategray;
}

.Songlist-Comparison {
  display: grid;
  height: 100px;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: Songlist-Comparison;
  background-color: lightseagreen;
} */
