$primary: #81a684;
$secondary: #8ac926;
$included: #81a684;
$background: #fac9b7;
$input-bg: #d89cbf;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $included,
  'background': $background,
  'navbar': #bb8bb6,
);

$body-bg: $background;

.appName,
.appName:hover {
  font-family: 'Pirata One', cursive;
  text-decoration: none;
  color: black;
  font-size: 3em;
}

.dateColumn {
  font-size: smaller;
  text-align: center;
  // vertical-align: middle;
}

#show_select_dropdown {
  background-color: $input-bg;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

#playlist_input {
  background-color: $input-bg;
}

#playlist_select_dropdown {
  background-color: $included;
}

.textInput {
  background-color: $included !important;
}

.plain {
  background-color: $background !important;
}

.Centered {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.ShowDescription {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
}

.PositiveResult {
  background-color: $input-bg !important;
  margin: 20px;
}

.bigSpan {
  width: 50%;
}

.fullWidth {
  width: 100%;
}

.includedSong {
  background-color: $included !important;
}
.excludedSong {
  background-color: $secondary !important;
}

.donateButton {
  background-color: gold !important;
  font-size: 1.4em !important;
  font-weight: 600 !important;
  justify-content: center;
  align-items: center;
}

.aboutPageText {
  font-size: 1.3em !important;
  font-weight: 400 !important;
}

.aboutPageImage {
  width: 50%;
}

.completedProcessMessage {
  font-size: 1.2em;
}

#loggedInDisplay {
  text-align: center;
  background-color: $included !important;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 400;
  line-height: 1.5;
}
/* import bootstrap to set changes */
@import 'bootstrap/scss/bootstrap';
