/* make the customizations */

$primary: lightblue;
$secondary: lightpink;
$background: lightgrey;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  // 'success':,
  'info': tomato,
  'danger': teal,
);

$body-bg: $background;

input,
textarea {
  background-color: $primary;
}

.dateColumn {
  font-size: smaller;
  text-align: center;
  vertical-align: middle;
}

#show_select_dropdown {
  background-color: darkgray;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

#playlist_select_dropdown {
  background-color: $primary;
}

.textInput {
  background-color: $secondary !important;
  color: antiquewhite;
}

.selectedPlaylist {
  text-align: center;
  list-style-type: circle;
  font-size: smaller;
  // padding-left: 0;
}

.Centered {
  justify-content: center;
  text-align: center;
  align-items: center;
}

#loadingContainer {
  width: 50%;
  margin: auto;
}
#searchLoading {
  color: rgb(52, 99, 230);
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.bigSpan {
  background-color: darkorchid;
  width: 50%;
}
.spotifyTable {
  td {
    div {
      // height: 10px;
      overflow: hidden;
      // background-color: #f8f8f8ad
    }
  }
  // overflow-x: scroll;
}
// .TableDisplay {
//   td {
//   }
// }

/* import bootstrap to set changes */
@import 'bootstrap/scss/bootstrap';
